[Desktop Entry]
Version=1.0
Name=Picom
GenericName=Compositor
Comment=Compositor for i3
NotShowIn=sway;
Exec=picom -b &
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
Hidden=true
X-GNOME-Autostart-enabled=false

