configuration {
    modi: "drun";
    show-icons: true;
    lines: 7;
    eh: 2;
    markup: true;
    icon-theme: "Flatery-Dark";
    opacity: 8;
    fullscreen: true;
    font: "Fira Code 12";
}

@theme "Monokai"
